.musicDiv {
    margin: 3px;
    margin-left: 15px;
    background: red;
    width: 185px;
    height: 325px;
    float: left;
}

.songImg {
    width: 185px;
    height: 185px;
}

.songName {
    width: auto;
}