<!-- Calling GoogleAuth() Api from AuthService -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="search">
    <mat-form-field class="example-form-field">
        <i class="material-icons">search</i>
        <input matInput type="text" [(ngModel)]="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>