.mat-advanced-audio-player {
    background-color: black;
}

#musicPlayingBar_container {
    clear: left;
    width: 88%;
    position: fixed;
    bottom: 0;
    color: black
}

.ngx-advanced-audio-player[_ngcontent-owm-c18] {
    background: black !important;
}