body {
    margin: 0%;
    padding: 0%;
}

mat-drawer {
    width: 5%;
    height: 100%;
    float: left;
    text-align: left;
    z-index: 1;
}

mat-drawer-content {
    width: 95%;
    float: right;
}

mat-icon {
    font-size: 30px;
}

button {
    width: 100%;
    size: 25px;
    margin-top: 15px;
}

mat-drawer-content {
    overflow: unset;
}

mat-icon {
    font-size: 35px;
}