<app-search-nav></app-search-nav>

<mat-drawer-container>

    <mat-drawer mode="side" opened fixedInViewport class="buticon">
        <button mat-button>
                    <mat-icon>home</mat-icon>
                </button>

        <button mat-button>
                    <mat-icon>folder</mat-icon>
                </button>

        <button mat-button>
                    <mat-icon>headset</mat-icon>
                </button>
        <button mat-button>
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
        <button mat-button>
                    <mat-icon>settings</mat-icon>
                </button>
    </mat-drawer>

    <mat-drawer-content>
        <!--Add new content here-->
        <app-section-divider></app-section-divider>
        <app-music-controller *ngIf="_playSongService.isAvailable()"></app-music-controller>

    </mat-drawer-content>

</mat-drawer-container>

<router-outlet></router-outlet>