* {
    margin: 0%;
    padding: 0%;
}

mat-toolbar {
    position: fixed;
    justify-content: space-between;
    z-index: 1;
    padding: 0 0;
    top: 0;
    right: 0;
    height: 64px;
    box-shadow: 1px;
    min-width: 0px;
    max-width: 88% !important;
    box-shadow: 10px 5px 5px grey;
}

mat-sidenav {
    width: 12%;
    z-index: 3;
}

mat-sidenav-content {
    padding-top: 40px;
    width: 88%;
}