* {
    margin: 0 0;
    padding: 0 0;
}

.mat-toolbar {
    justify-content: space-between;
    padding: 0 0;
    top: 0;
    height: 64px;
    left: 0;
    right: 0;
    box-shadow: 1px;
    min-width: 0px;
    max-width: 100% !important;
    box-shadow: 20px 20px 50px 10px #ffcdcd4f inset;
}

mat-drawer {
    width: 5%;
    padding-top: 50px;
}

mat-drawer-content {
    width: 95%;
}

mat-drawer-container {
    padding: 0 0;
    color: white;
}

mat-drawer-content {
    overflow: unset;
}