<mat-sidenav-container>

    <mat-sidenav opened mode="side" fixedInViewport>
        <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="containers">

            <app-search-nav class="item item3"></app-search-nav>

            <app-loginmenu class="item item4"></app-loginmenu>
        </mat-toolbar>
        <!--Add new content here-->
        <app-section-divider></app-section-divider>
        <app-music-controller *ngIf="_playSongService.isAvailable()"></app-music-controller>
    </mat-sidenav-content>

</mat-sidenav-container>

<router-outlet></router-outlet>