<img class="songInfoImg" src="../../../assets/images/logo.png" alt="">
<div class="songInfoText">
    <p class="songInfoName">{{_getInfoService.songDetail[0].songName}}</p>
    <p class="songInfoDes">{{_getInfoService.songDetail[0].description}}</p>
    <p class="">Created by Spotify - 10 songs</p>
    <div class="lastLineInfo">
        <div class="songInfoBtn">
            <button class="songInfoBtn_play">Play</button>
            <button class="songInfoBtn_heart" mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon class="songInfoBtn_heart">favorite</mat-icon>
            </button>
        </div>
        <div class="follower">
            <p>Followers</p>
            <p>1234</p>
        </div>
    </div>
</div>