.Avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%
}

.AtaGround {
    display: table;
    margin: 3px auto;
}

.menu1 {
    display: inline-flex;
    margin: 0 0;
    font-size: 13px;
    cursor: default;
    line-height: 30px;
    height: 30px;
}

.menu2 {
    display: flex;
    justify-content: space-between;
}

.menu2 button {
    margin: 0 8px;
    padding: 0 5px
}

i {
    margin: 2px 5px;
}

.menu3 {
    overflow: hidden;
}