.mat-sidenav-container {
    position: unset;
    display: initial;
}

.mat-sidenav {
    width: 15%;
    overflow: auto;
    display: block;
    width: 150px;
}

ul {
    list-style: none;
    text-align: left;
    size: 50px;
    margin: 0px;
    padding: 0px;
    size: 75px;
}

mat-button {
    padding: 100%;
}

.librarySongsLink {
    text-decoration: none;
}