.mat-sidenav-container {
    position: unset;
    display: initial;
    background-color: transparent;
}

.mat-sidenav {
    width: 150px;
}

ul {
    list-style: none;
    text-align: left;
    size: 50px;
    margin: 0px;
    padding: 0px;
    size: 75px;
}

img {
    width: 125px;
    height: 125px;
    margin-left: 10px;
}

li {
    margin-top: 25px;
}

button mat-button {
    width: 150px;
}